<div class="row">
  <div
    *ngFor="let board of boards$ | async"
    class="col-xs-12 col-sm-4 col-md-3 mb-3">
    <a
      [routerLink]="[ board.id ]"
      class="card border-primary h-100">
      <div class="card-body text-truncate">{{ board.name }}</div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 mb-3">
    <add-board-button
      (onAdd)="handleBoardAdd($event)">
    </add-board-button>
  </div>
</div>
