<div class="container">
  <h1 class="text-center">Sign up</h1>

  <div class="row mt-3">
    <div class="col-sm-3"></div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="col-sm-6"
      novalidate>
      <fieldset class="form-group">
        <label for="name" class="control-label">
          Name <span class="text-danger">*</span>
        </label>
        <input
          formControlName="name"
          validationState
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter your name" />
        <ul ngxErrors="name" class="invalid-feedback">
          <li
            *ngFor="let error of validationErrors"
            [ngxError]="error.type"
            when="dirty">
            {{ error.label }}
          </li>
        </ul>
      </fieldset>

      <fieldset class="form-group">
        <label for="username" class="control-label">
          Username
        </label>
        <input
          formControlName="username"
          validationState
          type="text"
          class="form-control"
          id="username"
          placeholder="Enter your username" />
      </fieldset>

      <fieldset class="form-group">
        <label for="email" class="control-label">
          Email <span class="text-danger">*</span>
        </label>
        <input
          formControlName="email"
          validationState
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email" />
        <ul ngxErrors="email" class="invalid-feedback">
          <li
            *ngFor="let error of validationErrors"
            [ngxError]="error.type"
            when="dirty">
            {{ error.label }}
          </li>
        </ul>
      </fieldset>

      <fieldset class="form-group">
        <label for="password" class="control-label">
          Password <span class="text-danger">*</span>
        </label>
        <input
          formControlName="password"
          validationState
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password" />
        <ul ngxErrors="password" class="invalid-feedback">
          <li
            *ngFor="let error of validationErrors"
            [ngxError]="error.type"
            when="dirty">
            {{ error.label }}
          </li>
        </ul>
      </fieldset>

      <p class="form-text text-muted">
        Fields marked as <span class="text-danger">*</span> are required
      </p>

      <div class="text-center mt-5">
        <a
          routerLink="../login"
          class="btn btn-outline-secondary">
          Sign in instead
        </a>
        <button
          [disabled]="registerForm.invalid"
          type="submit"
          class="btn btn-primary">
          Submit
        </button>
      </div>

    </form>
  </div>
</div>
