<div
  [ngSwitch]="mode"
  class="h-100">
  <button
    *ngSwitchCase="'button'"
    (click)="select('form')"
    class="btn btn-primary p-3 h-100 w-100 mh-100"
    type="button">
    Create board
  </button>
  <div
    *ngSwitchCase="'form'"
    class="card border-primary h-100">
    <form
      [formGroup]="boardForm"
      (ngSubmit)="handleSubmit()"
      class="card-body"
      novalidate>
      <fieldset class="form-group">
        <label for="board-name" class="text-primary d-flex justify-content-between">
          <span>Board name</span>
          <button
            (click)="select('button')"
            type="button"
            class="close"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </label>
        <div class="input-group input-group-sm">
          <input
            formControlName="boardName"
            type="text"
            id="board-name"
            class="form-control form-control-sm" />
          <div class="input-group-btn">
            <button
              type="submit"
              class="btn btn-primary font-weight-bold">
              Create
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
