/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr.css';

button:hover, a:hover {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

ul.invalid-feedback {
  margin-bottom: 0;
}

.btn, .clickable {
  cursor: pointer;
}

.text-wrap {
  white-space: normal;
}
