<header class="navbar navbar-expand-md navbar-dark bg-primary sticky-top justify-content-between">
  <button type="button" class="btn btn-primary">Boards</button>
  <a routerLink="/dashboard" class="navbar-brand">Anora</a>
  <button type="button" class="btn btn-primary">Profile</button>
</header>
